* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}

.progress-bar {

    transition: width 1s ease;
}

.panel-res {
    width: 20vw;
}

.progress {
    margin: 0;
}